PORT=5000
ENVIRONMENT=development

JWT_SECRET=yours-jwt-secret-key

# Database configuration via a single env var
DATABASE_URL=sqlite:///./devstackhub.db
# To switch to MySQL/RDS, use:
DATABASE_URL=mysql+pymysql://admin:ArshadKhan123@devstackhub.cqvqoi0mcdh6.us-east-1.rds.amazonaws.com:3306/devstackhub ------- NO WORRY I HAVE DELETED THIS PARTICULAR ENDPOINT FROM THE DATABASE_URL......BUT YOU GUYS SHOULD NEVER SHARE YOUR DATABASE CREDENTIALS PUBLICLY. IT'S A SECURITY RISK. MAKE SURE TO USE ENVIRONMENT VARIABLES OR SECRET MANAGEMENT SOLUTIONS TO KEEP SENSITIVE INFORMATION SAFE.

AWS_REGION=us-east-1
S3_BUCKET_NAME=devstackhub

EFS_MOUNT_PATH=/mnt/efs

CLIENT_URL=http://localhost:5173


